/* base (mobile) styles */

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 300px;
        }

        p {
            text-align: center;
        }

        .recipe-container {
            display: flex;
            flex-direction: coloumn;
            /* mobile = stacked vertically*/
            justify-content: space-between;
            /*spacing between the two coloumns*/
            gap: 40px;
            padding: 20px;

        }
        .ingredients,
        .directions {
            width: 100%;
        }

        /*desktop / landscape tablet view*/
        @media (min-width: 768px) {
            recipe-container {
                flex-direction: row;
                /*put ingredients and directions side-by-side*/
                justify-content: space-between;
                align-items: flex-start;
                gap: 40px;
            }

            .ingredients,
            .directions {
                flex: 1;
                min-width: 300px;
            }
        }