/* Dropdown list hidden by default */
.has-dropdown .dropdown {
    display: none;
    padding-left: 20px;
    margin-top: 5px;
}

/* Show dropdown when "open" class is added */
.has-dropdown.open .dropdown {
    display: block;
}

/* Dropdown links */
.dropdown li {
    padding: 5px 0;
}

.drop-link {
    cursor: pointer;
    color: #333;
}

.drop-link:hover {
    color: #ff6300;
}