/* mobile-first design for Pacific Rhododendron layout */

*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* HEADER */

header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#rhodiePicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific Rhododendron 1 - Walter Siegmund.jpeg");
    background-size: cover;
    background-position: center center;
}

#rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;  
}

#rhodieTitle h1{
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw - 2em);
}

/* ★★★★★ Dark Mode Button Styling */
#toggleDarkMode {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 10px 16px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    z-index: 10;
}

#toggleDarkMode:hover {
    background-color: #444;
}

/* ★★★★★ Dark Mode Layout */
.darkMode #rhodiePicture {
    filter: brightness(0.4);
}

.darkMode #rhodieTitle h1 {
    color: #ffeded;
}

.darkMode body,
.darkMode main,
.darkMode section {
    background-color: #111;
    color: #e4e4e4;
}


/* RESPONSIVE LANDSCAPE LAYOUT */
@media screen and (orientation: landscape) {

    #rhodiePicture {
        width: 50vw;
    }

    #rhodieTitle {
        width: 50vw;
        left: 50vw;
        background-color: #333;
    }

    #rhodieTitle h1 {
        width: 45vw;
    }
}
