/*mobile-first design for Pacific Rhododendron layout */

*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiePicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url ("Pacific Rhododendron 1 - Walter Siegmund.jpeg");
    background-size: cover;
    background-position: center center;
}

#rhodieTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;  
}

#rhodieTitle h1{
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw-2em);
}

#toggleDarkMode {
    margin-top: 2em;
}

body.darkMode {
    background-color: black;
    color: white;
}

body.darkMode h1 {
    color: red;
}

/* PUT THE REST OF THE MOBILE BASELINE LAYOUT HERE */

@media screen and (orientation: landscape) {

    #rhodiePicture {
        width: 50vw;
    }

    #rhodieTitle {
        width: 50vw;
        left: 50vw;
        background-color: #333;
    }

    #rhodieTitle h1 {
        width: 45vw;
    }
    
    /* REST OF THE DESKTOP LAYOUT HERE */

}
